<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input 
                        type="text" 
                        name="listing[title]" 
                        placeholder="Add a catchy title" 
                        class="form-control"
                        required
                    />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Title can't be empty!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea 
                            name="listing[description]"
                            placeholder="enter description"
                            class="form-control"required></textarea>
                            <div class="invalid-feedback">
                                Please enter a short description!
                            </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input 
                        type="file" 
                        name="listing[image]" 
                        placeholder="enter image URL"
                        class="form-control"
                        required
                    />
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Choose Categories</label>
                    <select 
                        name="listing[category][]"
                        class="form-select"
                        multiple
                        required
                    >
                        <% let categories = [
                                'trending', 
                                'rooms', 
                                'mountains', 
                                'castle', 
                                'swimming pool', 
                                'beach', 
                                'camp', 
                                'farm', 
                                'arctic', 
                                'tree house', 
                                'boat'
                            ]; %>
                        <% categories.forEach(category => { %>
                            <option value="<%= category %>"><%= category.charAt(0).toUpperCase() + category.slice(1) %></option>
                        <% }); %>
                    </select>
                    <div class="form-text">Hold down Ctrl (Windows) or Command (Mac) to select multiple options.</div>
                    <div class="invalid-feedback">
                        Please select at least one category!
                    </div>
                </div>


                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input 
                            type="number"
                            name="listing[price]" 
                            placeholder="1200 &#8377;"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Price should be valid!
                        </div>
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                            type="text" 
                            name="listing[country]" 
                            placeholder="India"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Country name should be valid!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input 
                        type="text" 
                        name="listing[location]" 
                        placeholder="Bareilly, Uttar Pradesh"
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">
                        Location should be valid!
                    </div>
                </div>
                <button class="btn btn-dark edit-btn idx-btns add-btn">Add</button>
            </form>
            <br><br>
        </div>
    </div>
</body>