<% layout("/layouts/boilerplate") %>

<div class="login-wrapper">
    <div class="login-container">
        <h1>Login to Airbnb Replica</h1>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                    type="text"
                    id="username"
                    name="username" 
                    class="form-control"
                    required
                />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                    type="password"
                    id="password"
                    name="password" 
                    class="form-control"
                    required
                />
            </div>

            <button class="login-btn">Login</button>
        </form>

        <p class="signup-link">Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>
